<!-- 
File Name: footer.ejs
Student Name: Fatimah Binti Yasin
Student ID:  301193282
Date: Oct 8, 2022 -->

</main> 
   <footer>
      <p><b>© Centennial College - Fatimah Binti Yasin - 301193282 - COMP 229 - Express Portfolio</b></p>
  </footer>
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script>
   var getTitle = "<%= title %>";
</script>
<script src="/javascripts/appclient.js"></script>
</body>
</html>
