<% include partials/header.ejs %>

<!--
File Name: contact.ejs
Student Name: Fatimah Binti Yasin
Student ID:  301193282
Date: Oct 8, 2022-->

<h1><%= title %></h1>

   <% if(title == "Contact") { %>
    <h2><span lang="en-ca">My Contacts </span></h2>
                <p> 
                    Email: fatimahbintiyasin5@gmail.com<br>
                    Phone Number: +1(647) 581-5830<br>
                </p>
                <h2><span lang="en-ca">Contact us</span></h2>
                <form method="post" action="index.html">
                    <p>
                        <label for="txtFName"><b>First Name: </b></label>
                        <input id="txtFName" name="txtFName" type="text" size="30" required="required" tabindex="1">
                    </p>
                    <p>
                        <label for="txtLName"><b>Last Name: </b></label>
                        <input id="txtLName" name="txtLName" type="text" size="30" required="required" tabindex="5">
                    </p>
                    <p>
                        <label for="txtEmail"><b>Email: </b></label>
                        <input id="txtEmail" name="txtEmail" type="text" size="34" required="required" tabindex="10">
                    </p>
                    <p>
                        <label for="txtCN"><b>Contact Number: </b></label>
                        <input id="txtCN" name="txtCN" type="text" size="26" tabindex="25">
                    </p>
                    <p>
                        <label for="txtMsg"><b>Message: </b></label><br> 
                        <textarea id="txtMsg" cols="43" rows="2" name="txtMsg" tabindex="40"></textarea>
                    </p>
                    <p>
                        <input id="buttons" name="btnSubmit" type="submit" value="Submit" tabindex="42">
                        <input name="btnReset" type="reset" value="Clear" tabindex="44">
                    </p>
                </form>
  <% } else { %>
    
  <% } %>

<% include partials/footer.ejs %>