<%- include('partials/header.ejs') %>

<!--
File Name: index.ejs
Student Name: Fatimah Binti Yasin
Student ID:  301193282
Date: Oct 24, 2022-->

    <h1><%= title %></h1>
    <p>Welcome to <%= title %> page!</p>

    <% if(title == "Home") { %>
      <h2><span lang="en-ca"><b>Welcome Message</b></span></h2>
                <p>"Hi, My name is Fatimah Binti Yasin, and my portfolio is a representation of all that I have learned, experienced and accomplished as a Software Engineering Technology Student at Centennial College. I am looking forward to more opportunities to work in coding on a freelance basis."</p>
                <b>Mission Statement</b>
                <p>Motivated Software Engineering student seeking an internship in software development to gain hands-on experience. Outgoing and friendly with strong drive to succeed.</p>
                <b>Additional Information </b>
                <p>
                      <span lang="en-ca">To know about me visit: <a href="/about">About Me</a></span><br>
                      <span lang="en-ca">To know about my academic project please visit: <a href="/projects">Projects</a></span><br>
                      <span lang="en-ca">To know about my services please visit: <a href="/services">Services</a></span><br>
                      <span lang="en-ca">To get connected with me please visit: <a href="/contact">Contact Me</a></span><br>
                </p>
    <% } else{ %>
      <h2><span lang="en-ca"><b>Hi, My name is Fatimah Binti Yasin!</b></span></h2>
                <p>I am currently a student at Centennial college studying Software Engineering Technology - Artficial Intelligence. I am in my 2nd year. My skills include designing web applications using HTML, CSS, and JavaScript. I am knowledgeable of HTTP, Oracle SQL, C#, Java, Jira, Python, and Microsoft Office Suite. I have a good Understanding of Agile and Scrum methodology for software development.  </p>
                <p>I am a trustworthy and cooperative professional looking for new opprtunities in this filed.</p>
                <p><b>Please take a look at my resume to know more about my technical skills and experiences <a href="/images/Resume.pdf">here</a>.</b></p>
    <% } %>

    <%- include('partials/footer.ejs') %>