<%- include('partials/header.ejs') %>

<!--
File Name: projectservices.ejs
Student Name: Fatimah Binti Yasin
Student ID:  301193282
Date: Oct 24, 2022-->

<h1><%= title %></h1>

   <% if(title == "Projects"){ %>
                <p class="clearBoth">
                    <br><h2><u><b>Banking Application</b></u></h2>
                    <img src="images/img2.png" width="560" height="345" alt="project2" class="auto-style1"><br>
                    <br>Implemented a banking application based on the object-oriented concept of C# .NET. The application consists of eleven classes, two structs, one interface and two Enums coupled in varying degrees of tightness. The Bank class was the main driver of the application. It has a collection of Accounts and Person that is initialize appropriately in the static constructor. The entire system was implemented in Visual Studio.
                </p>
                <p class="clearBoth">
                    <br><h2><u><b>Website for a Real Estate Agent</b></u></h2>
                    <img src="images/img1.png" width="560" height="345" alt="project1" class="auto-style1"><br>
                    <br> Designed a responsive, user-oriented marketing website for a local real estate agent to showcase their listings and available properties using HTML5 and CSS3. The website consists of 7 web pages: Home page, 3 property listing pages, available properties for sale, contact form, site map, and credits page. 
                </p>
                <P class="clearBoth">
                    <br><h2><u><b>SRS Document for a Mobile App</b></u></h2>
                    <img src="images/img3.JPG" width="560" height="345" alt="project3" class="auto-style1"><br>
                    <br>Prepared an SRS (Software Requirement Specification) for an app called "All You Can Cook". The document described how the software will work, stakeholders, all the functional and non-functional requirement, and diagrams to show the performance of the app.
                </P>

  <% } else { %>

                <img src="images/img4.jpg" width="560" height="345" alt="services" class="auto-style1">
                <p>
                  <br><b>
                        Web development<br>
                        Programming<br>
                        Software development<br>
                        Software Designing<br>
                        Software Testing<br>
                        Software Implementing<br>
                        Software Validating<br>
                        Project Support Analyst<br> 
                        Mobile App
                      </b>
                </p>
  <% } %>

  <%- include('partials/footer.ejs') %>