
/* File Name: style.css
Student Name: Fatimah Binti Yasin
Student ID:  301193282
Date: Oct 8, 2022 */

body {
	font-family: 'Times New Roman', Times, serif;
}
html {
  position: relative;
  min-height: 100%;
}
header{
	background-color: rgb(212, 212, 212);
	padding: .5em 0 .5em 5.5em;
  text-align: center;
}
nav{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 800px;
}
main {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
footer {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 40px;
  text-align: center;
}
